# requirements.txt для feed_bb

# 🔸 Асинхронные библиотеки
asyncio        # встроенная, но оставляем для ясности окружения
websockets==12.0
aiohttp==3.9.5

# 🔸 PostgreSQL
asyncpg==0.29.0

# 🔸 Redis (асинхронный клиент)
redis==5.0.4

# 🔸 Утилиты
python-decouple==3.8  # удобно читать env (можно опустить если пользуешься os.getenv)
python-dateutil==2.9.0
pytz==2024.1

# 🔸 Логирование и мониторинг
loguru==0.7.2   # если захочешь расширенное логирование (опционально)