# Асинхронный доступ к PostgreSQL
asyncpg==0.29.0

# Асинхронный Redis-клиент
redis==5.0.1

# Работа с базой данных через ORM
sqlalchemy>=2.0.0
psycopg2-binary

# Научные библиотеки для расчётов
numpy==1.26.4
scipy==1.13.0

# Индикаторы
ta==0.10.2
pandas_ta

# Для логирования (опционально)
loguru==0.7.2